/*
   This file is part of solution for Audensiel Moodle test
   More details in readme.txt

   Author: Karine Pires <karine@karinepires.com>
*/

#ctrl{
  background-color: #f9f9f9;
  font-family: RobotoDraft, 'Helvetica Neue', Helvetica, Arial;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
}

/* Button */
#ctrl button {
  display: inline-block;
  position: relative;
  width: auto;
  height: auto;
  line-height: 32px;
  border-radius: 2px;
  font-size: 1.2em;
  background-color: #fff;
  color: #646464;
  padding: 0px 12px;
  background-image: none;
  border: 0;
}

#ctrl button.blue {
  background-color: #4285f4;
  color: #fff;
  text-shadow: 0 0 0 black;
}

#ctrl button.raised {
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0.2s;
  box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.26);
}

#ctrl button.raised:hover {
  box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.2);
  transition-delay: 0s;
  background-color: #2DBAD3;
}